<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.milestone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_milestone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditTaskActivity"></activity>
        <activity
            android:name=".EditCourseActivity"
            android:noHistory="true"
            android:parentActivityName=".CourseMenuActivity" />
        <activity
            android:name=".TaskViewActivity"
            android:noHistory="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CourseMenuActivity"
            android:label=""
            android:noHistory="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddTaskActivity"
            android:label=""
            android:noHistory="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddCourseActivity"
            android:label=""
            android:noHistory="true"
            android:parentActivityName=".CourseMenuActivity" />
        <activity
            android:name=".MainActivity"
            android:label="" />
        <activity
            android:name=".AuthenticationActivity"
            android:label="Milestone"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>